html, body {
	background-color:#dae0e6;
	height: 100%;
	/*Overall margins for the webpage*/
	margin-right: 5%;
   	margin-left: 5%;
}

#header{
	height: 25px;
	border:2px;
	border-style:solid;
	border-color:#6E6E6E;
	background-color:red;
	padding: 10px;
	text-align:center;
	border-width:medium;
}

#sub_header{
	height: 25px;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border:2px;
	border-style:solid;
	border-color:#6E6E6E;
	background-color:red;
	padding: 5px;
	border-width:thin;
	color:black;
	font-size: 23px;
	text-align:center;
}

a{
	color:#1F1C4F;
	text-decoration:none;
}

a:hover{
	color:blue;
}

th{
	border-style:solid;
	border-width:1px;
	border-color:#650101;
}

p{
	font-size: 1.5em;
}

p.SectionTitles{
	font-size: 2em;
	color:rgb(72,72,72);
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow{
	font-size: 8em;
	padding-right: 1em;
}

.arrow:hover{
	cursor: pointer;
}
